.main {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  color: #484848;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: white;
  opacity: 0.7;
  }

/*.modal {
  position: absolute;
  top: 250%;
  left: 50%;
  margin-bottom: 50px;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 100%;
  max-height: 3000px;
  z-index: 9999;
  background: white;
  border: thin solid #DBDBDB;
  padding: 32px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1), 2px 3px 10px 0 rgba(0, 0, 0, 0.1);
  overflow: auto;
}*/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 100px;
  margin-top: 50px;
  width: 500px;
  max-width: 100%;
  max-height: 100%;
  z-index: 9999;
  background: white;
  border: thin solid #DBDBDB;
  padding: 32px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1), 2px 3px 10px 0 rgba(0, 0, 0, 0.1);
  overflow: auto !important;
}

.title {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 24px;
}

.header {
  font-size: 18px;
  font-weight: 400;
  padding-top: 24px;
  padding-bottom: 18px;
}

.detail {
  font-size: 16px;
  font-weight: 200;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: thin solid #DBDBDB;
}

.dashed {
  composes: detail;
  text-decoration: line-through;
  color: #767676;
}

.close {
  color: #767676;
  font-size: 24px;
  font-weight: 200;
  border: thin solid #DBDBDB;
  border-radius: 80%;
  margin-bottom: 20px;
  box-shadow: 0px 0px 1px 1px #DBDBDB;
  cursor: pointer;
}



















